
#categorizer {
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

#categorizer > h1 {
    color: var(--accent);
    font-size: 2rem;
    margin-top: 20px;
}

#categorizer .goto-btns{
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.category {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.category h1 {
    color: var(--txtclr);
    font-size: 1.5rem;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--txtclr);
} 


.category div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.category img {
    height: 150px;
    width: 220px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: var(--bxshadow);
    transition: transform 0.2s, box-shadow 0.2s;
}


.category img:hover {
    transform: scale(1.08);
}
