* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.container {
    background: var(--secondary);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#home {
    max-height: 90vh;
    overflow-y: scroll;
}

#home .search-box {
    background: var(--tertiary);
    color: var(--txtclr);
    box-shadow: var(--bxshadow);
    display: flex;
    align-items: center;
    height: 55px;
    border-radius: 50px;
    padding: 0 40px;
    width: 80%;
    margin: 20px auto;
}

#home .search-box span {
    margin-left: 10px;
}

.feature-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.feature-container div {
    position: relative;
    margin-top: 50px;
    width: 260px;
    height: 320px;
    border-radius: 10px;
    padding: 12px;
    text-align: center;

    background: var(--tertiary);
    box-shadow: var(--bxshadow);
}

.feature-container div .icons {
    margin: 15px 0 10px;
    color: var(--txtclr);
    padding: 10px;
    background: var(--accent);
    border-radius: 50px;
}

.feature-container div h1 {
    font-size: 1.25em;
    color: var(--accent);
}

.feature-container div p {
    letter-spacing: 1px;
    padding: 10px;
    color: var(--txtclr);
}

.feature-container div button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    color: var(--txtclr);
    background: var(--accent);
}

.feature-container div button:hover {
    opacity: 0.8;
}


/* ############################################################# */


#all-images {
    width: 100%;
    height: 100vh;
    padding: 10px;
}

#all-images .header {
    display: flex;
    border-bottom: 2px solid var(--txtclr);
    margin: 10px 20px 20px;
    text-align: center;
    padding-bottom: 10px;
}

#all-images .header h1 {
    width: 100%;
    color: var(--accent);
}

#all-images .header button {
    padding: 10px 20px;
    background: var(--accent);
    border: none;
    border-radius: 50px;
}

#all-images .header button:active {
    transform: scale(0.95);
}

/* ############################################################# */

.error {
    font-size: 1.2rem;
    color: #ff4757;
    margin: 20px 0;
}