*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --search-bg: #aaa;
}

.container{
    background: #222;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#home{
    max-height: 90vh;
    overflow-y: scroll;
}

#home .search-box{
    background: var(--search-bg);
    display: flex;
    align-items: center;
    height: 55px;
    border-radius: 50px;
    margin: 20px;
    padding: 0 40px;
}

#home .search-box span{
    margin-left: 10px;
}

.feature-container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.feature-container div{
    margin-top: 50px;
    width: 250px;
    height: 270px;
    background: #aaa;
    border-radius: 10px;
}

.feature-container div h1{
    font-size: 1em;
}














#all-images{
    width: 100%;
    height: 100vh;
    padding: 10px;
}

#all-images .header{
    display: flex;
    border-bottom: 2px solid white;
    margin: 10px 20px 20px;
    text-align: center;
    padding-bottom: 10px;
}

#all-images .header h1{
    width: 100%;
    color: #aaa;
}

#all-images .header button{
    padding: 10px 20px;
    background: #aaa;
    border: none;
    border-radius: 50px;
}

#all-images .header button:active{
    transform: scale(0.95);
}