*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --search-bg: rgba(170, 170, 170,0.5);
}

.container{
    background: #222;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#home{
    max-width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home .search-box{
    background: var(--search-bg);
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 55px;
    width: 80%;
    border-radius: 50px;
    margin-bottom: 50px;
}

#home .search-box span{
    margin-left: 10px;
}

#home .home-grid{
    width: 200px;
    height: 200px;
    background: var(--search-bg);
}

#home .feature-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#home .feature-container div{
    border-radius: 10px;
    width: 220px;
    height: 220px;
    background: var(--search-bg);
    margin: 10px;
}

#all-images{
    width: 100%;
    height: 100vh;
    padding: 10px;
}

#all-images .header{
    display: flex;
    border-bottom: 2px solid white;
    margin: 10px 20px 20px;
    text-align: center;
    padding-bottom: 10px;
}

#all-images .header h1{
    width: 100%;
    color: #aaa;
}

#all-images .header button{
    padding: 10px 20px;
    background: #aaa;
    border: none;
    border-radius: 50px;
}

#all-images .header button:active{
    transform: scale(0.95);
}