::-webkit-scrollbar {
    width: 5px;
}

#metadata-stripper {
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

#metadata-stripper .image-select {
    margin: 20px auto 0;
    width: 350px;
    border-radius: 10px;
    color: var(--txtclr);
    background: var(--tertiary);
    box-shadow: var(--bxshadow);
}

#metadata-stripper .image-select input {
    display: none;
}

#metadata-stripper .image-select label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#metadata-stripper .image-select label h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#metadata-stripper>button {
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--txtclr2);
    background: var(--accent);
}

#metadata-stripper .loading {
    display: flex;
    justify-content: center;
}

#metadata-stripper .metadata-container {
    margin: 20px 0;
    display: flex;
    text-align: left;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

#metadata-stripper .metadata-container .original-metadata,
#metadata-stripper .metadata-container .cleaned-metadata {
    width: 45%;
    min-width: 500px;
    min-height: 200px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--primary);
    box-shadow: var(--bxshadow);
}

#metadata-stripper .metadata-container .original-metadata h1,
#metadata-stripper .metadata-container .cleaned-metadata h1 {
    font-size: 1.5em;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: var(--tertiary);
    color: var(--txtclr);
    
}

#metadata-stripper .metadata-container .cleaned-metadata h1 {
    justify-content: space-between;
}

#metadata-stripper .metadata-container .cleaned-metadata h1 a {
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--accent);
    color: var(--txtclr2);
}

.original-metadata pre,
.cleaned-metadata pre {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    padding: 10px;
    font-size: 0.8rem;
    color: var(--txtclr);
}