::-webkit-scrollbar{
    width: 0;
}

#metadata-stripper {
    background: #222;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

#metadata-stripper .image-select {
    background: rgba(170, 170, 170, 0.2);
    width: 40%;
    min-width: 500px;
    margin: 0 10px;
    min-height: 500px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
   
}

#metadata-stripper .image-select .select{
    margin-top: 120px;
    text-align: center;
}

#metadata-stripper .image-select .select input{
    display: none;
}

#metadata-stripper .image-select .select label div{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: #b1b3b2;
}

#metadata-stripper .image-select .select button{
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #61c161;
}

#metadata-stripper .image-select .select button:active{
    transform: scale(0.9);
}

#metadata-stripper .view-metadata {
    width: 55%;
    min-width: 500px;
}

.view-metadata .prev-metadata {
    height: calc(50vh - 10px);
    margin-bottom: 10px;
}

.view-metadata .cleaned-metadata {
    height: calc(50vh - 30px);
}

.prev-metadata,
.cleaned-metadata {
    background: rgba(170, 170, 170, 0.2);
    border-radius: 10px;
    font-size: 15px;
    font-family: monospace;
    overflow-y: scroll;
    overflow-x: hidden;
}

.prev-metadata h1,
.cleaned-metadata h1{
    background: #555;
    font-size: 1.1rem;
    padding: 5px 20px;
} 

.prev-metadata pre,
.cleaned-metadata pre{
    /* Dont change the font family */
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    padding: 10px;
    font-size: 0.8rem;
    color: #777;
}

.cleaned-metadata h1{
    display: flex;
    justify-content: space-between;
}

.cleaned-metadata h1 a{
    padding: 0 10px;
    border: none;
    border-radius: 50px;
    background: #688f68;
}

.cleaned-metadata h1 button:active{
    transform: scale(0.9);
}