:root {
    --meta-bg: #222;
    --meta-primary: #fff;
    --meta-secondary: #444;
    --meta-accent: #24a0ff;

    --meta-txt-dark: #222;
    --meta-txt-light: #aaa;
}

::-webkit-scrollbar {
    width: 5px;
}

#metadata-stripper {
    padding: 20px;
    background: var(--meta-bg);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

#metadata-stripper .image-select {
    margin: 20px auto 0;
    background: var(--meta-secondary);
    width: 350px;
    border-radius: 10px;
    color: var(--meta-txt-light);
}

#metadata-stripper .image-select input {
    display: none;
}

#metadata-stripper .image-select label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#metadata-stripper .image-select label h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#metadata-stripper > button {
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    background: var(--meta-accent);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--meta-txt-dark);
}

#metadata-stripper .loading{
    display: flex;
    justify-content: center;
}

#metadata-stripper .metadata-container {
    margin: 20px 0;
    display: flex;
    text-align: left;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

#metadata-stripper .metadata-container .original-metadata,
#metadata-stripper .metadata-container .cleaned-metadata {
    width: 45%;
    min-width: 500px;
    min-height: 200px;
    border-radius: 10px;
    background: var(--meta-primary);
    overflow: hidden;
}

#metadata-stripper .metadata-container .original-metadata h1,
#metadata-stripper .metadata-container .cleaned-metadata h1 {
    font-size: 1.5em;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: var(--meta-secondary);
    color: var(--meta-txt-light);
}

#metadata-stripper .metadata-container .cleaned-metadata h1 {
    justify-content: space-between;
}

#metadata-stripper .metadata-container .cleaned-metadata h1 a {
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--meta-accent);
    color: var(--meta-txt-dark);
}

.original-metadata pre,
.cleaned-metadata pre {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    padding: 10px;
    font-size: 0.8rem;
    color: var(--meta-txt-dark);
}