:root {
    --sidebar-item-height: 42px;
    --sidebar-item-border-radius: 50px;
    --transitiontime: 0.4s;

    --primary: #12171e;
    --secondary: rgb(28, 31, 38);

    --tertiary: rgba(255, 255, 255, 0.1);
    --bxshadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    --accent: #7621de;
    --txtclr: #b5bccc;

    --gradient1: linear-gradient(45deg, #6c5ce7, #74ebd5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}